.main-page {
    font-family: var(--primary-font);
    color: var(--primary-color-slate, #434455);
    background-color: var(--background-color-white);
    
}
:root{
    --primary-font: "Roboto", sans-serif;
    --primary-color-slate: #434455;
    --background-color-white: #FFFFFF;
    --primary-nav-color: #2E2F42;
    --active-nav-color: #404BBF;
    --hover-link-color: #404BBF;
    --logo-color: #4D5AE5;
    --primary-list-button-color: #4D5AE5;


}
ul {
    list-style-type: none;
}
.logo-web {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-studio {
    color: var(--primary-nav-color);
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-studio-footer {
    color: #F4F4FD;
    font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px; 
text-transform: uppercase;
}
.link {
   
}
.list .link {
    text-decoration: none;
    color: var(--primary-nav-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}
.link:hover,
.link:focus {
    color: var(--hover-link-color);
    text-decoration: none;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
}

.section-one .button {
    color:#FFF;
    cursor: pointer;
background: var( --primary-list-button-color);
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}
.section-one .button:hover,
.section-one .button:focus {
background: var(--active-nav-color);
}

.section-one {
    background-color: #2E2F42;
    text-align: center;
    font-family: "Roboto", sans-serif;
    }
    .page-title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.02em;
        line-height: 1.07;
        color: #FFFFFF;
    }
    
.section-title{
    color: var (--primary-nav-color);
    background-color: var( --background-color-white);
    text-align: center;
font-family: var(--primary-font);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.section-title .title{
font-family: "Roboto", sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
}
.title-text{
    color: var (--primary-color-slate);
    font-family: var(--primary-font);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
}
.section-title .section-team {
    background: #F4F4FD;

}
.section-title .list-team: {
    background: #FFF;
    
}
.main-page .footer {
    background: var(--primary-nav-color);
}
.footer .title-text{
    color: #F4F4FD;
}
.lorem-title{
    color: #2E2F42;
}
.list-button{
    text-align: center;
}
.list-button .button {
   color: var( --primary-list-button-color);
   background: #F4F4FD;
   text-align: center;
   cursor: pointer;
font-family: var(--primary-font);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}
.list-button .button:active,
.list-button .button:hover {
    color: #FFF;
    background: var(--active-nav-color);
    text-align: center;
   cursor: pointer;
font-family: var(--primary-font);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
}




